

<mat-card>
  <h1>COMPUTADORAS</h1>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <input 
      matInput 
      type="text" 
      name = "title"
      ngModel
      required
      placeholder="Titulo"
      #title="ngModel">
      <mat-error 
      *ngIf="title.invalid">
        Ingrese el nombre de Un Usuario
      </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input 
      matInput
      type="text"
      rows="6" 
      name = "content"
      ngModel
      required
      placeholder="Contenido"
      #content="ngModel">
    <mat-error 
    *ngIf="content.invalid">
      Ingrese alguna Contraseña
    </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea 
      matInput rows="6" 
      name = "price"
      ngModel
      required
      pattern="^\d+(\.\d{1,2})?$"
      placeholder="$ Precio"      
      #content="ngModel">
    </textarea>
    <mat-error 
    *ngIf="content.invalid">
      Ingrese un Precio
    </mat-error>
    </mat-form-field>

    <button 
    mat-raised-button 
    color = "primary"
    type="submit">Guardar Computadora
    </button>
  </form>
</mat-card>
  






