
<mat-card>
  <h1>USUARIOS</h1>
  <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddUser()" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput 
      type="text" 
      formControlName = "name"
      placeholder="Nombre">
      <mat-error 
      *ngIf="form.get('name').invalid">
        Ingrese el nombre de Un Usuario
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()" >Selecciona una imagen</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.name">
    </div>

    <mat-form-field>
      <input
      matInput 
      type="email" 
      formControlName = "email"
      placeholder="email">
      <mat-error 
      *ngIf="form.get('email').invalid">
        Ingrese Un correo Electronico
      </mat-error>
    </mat-form-field>
    

    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        rows="6"
        formControlName="password"
        placeholder="Contraseña"
      >
      <mat-error *ngIf="form.get('password').invalid">Ingrese una contraseña</mat-error>
    </mat-form-field>
    <button 
    mat-raised-button 
    color = "primary"
    type="submit">Guardar Usuario
    </button>
  </form>
</mat-card>
  


<!--<mat-card>
    <h1>USUARIO</h1>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input 
        matInput 
        type="text" 
        name = "title"
        ngModel
        required
        placeholder="User"
        #title="ngModel">
        <mat-error 
        *ngIf="title.invalid">
          Ingrese el nombre de Un Usuario
        </mat-error>
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="content"
          ngModel
          required
          placeholder="Contraseña"
          #content="ngModel"
        />
        <mat-error *ngIf="content.invalid">Ingrese una contraseña</mat-error>
      </mat-form-field>
      <div></div>
      <button 
      mat-raised-button 
      color = "primary"
      type="submit">Guardar Usuario
      </button>
    </form>
  </mat-card>-->