mat-form-field,
textarea{

    width: 100%;

}
:host{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-text{
    text-align: center;
}
mat-card{
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}