mat-form-field,
textarea{
    width: 100%;

}
:host{
    display: block;
    margin-top: 1rem;
}

.info-text{
    text-align: center;
}
mat-card{
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Ajuste de estilos específicos para pantallas pequeñas */
  @media (max-width: 768px) {
    .button-container {
      margin-top: 10px;
    }
  }